
<p-dataTable class="space-pt-tabel" >
  <p-column header="Id Film1"    [sortable]="true"></p-column>
  <p-column field="anAparitie" header="An aparitie"   [sortable]="true"></p-column>
  <p-column field="descriere" header="Descriere" [sortable]="true"></p-column>
  <p-column field="gen" header="Gen" [sortable]="true"></p-column>
  <p-column field="nota" header="Nota" [sortable]="true"></p-column>
</p-dataTable>

<br> <br> <br><br><br><br><br>

<img src="../../../../assets/semantic/themes/default/assets/images/1.jpg" alt="Wrong Turn" style="width:150px;height:120px; margin-left:40px ">
<img src="../../../../assets/semantic/themes/default/assets/images/2.jpg" alt="Hills have eyes" style="width:150px;height:120px;margin-left: 70px">
<img src="../../../../assets/semantic/themes/default/assets/images/3.jpg" alt="The butterfly effect" style="width:150px;height:120px;margin-left: 100px">
<img src="../../../../assets/semantic/themes/default/assets/images/4.jpg" alt="Forest Gump" style="width:150px;height:120px;margin-left: 130px">
<img src="../../../../assets/semantic/themes/default/assets/images/5.jpg" alt="Million dollar baby" style="width:150px;height:120px;margin-left: 160px">

<br><br>

<p-dataTable class="space-pt-tabel" >
  <p-column field="ifFilm2" header="Id Film2"  [sortable]="true"></p-column>
  <p-column field="actori" header="Actori"   [sortable]="true"></p-column>
</p-dataTable>

<br><br><br>

{{idFilm}}


